<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Michael's blog</title>
  </head>
  <body>
    <div>
      <h1>Michael's blog</h1>
    </div>
    <div>
      <p>Published 16/09/18 18:01</p>
      <h2><a href="#">My first post</a></h2>
      <p>I already know HTML so this is pointless!</P>
    </div>
    <div>
      <p>Published 16/09/18 18:04</p>
      <h2><a href="#">My second post</a></h2>
      <p>I'm not so good on CSS though!</p>
    </div>
  </body>
</html>
